langchain
langchain-community
transformers
torch
einops
bitsandbytes
accelerate
pdfminer.six
bs4
sentence_transformers
duckdb
chromadb==0.3.29
beautifulsoup4
sentence-transformers
sentencepiece
six
requests
uvicorn
torch
torchvision
fastapi
python-multipart